/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
    font-family: HelveticaNeueCyrMedium;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.ttf')  format('truetype');
}

@font-face {
    font-family: HelveticaNeueCyrLight;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrLight/HelveticaNeueCyrLight.ttf')  format('truetype');
}

@font-face {
    font-family: HelveticaNeueCyrBold;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf')  format('truetype');
}

*{
    font-family: 'HelveticaNeueCyrLight';
}

/* canvas {
    overflow: scroll;
    pointer-events: none;
} */

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.heading{
    transform: translate3d(0,-100%,0);
    color: white;
    line-height: 5.5em;
    width: 80%;
    max-width: 800px;
    float: left;
    margin: 50px;
}

.heading-text{
    margin: 0;
    font-size: 4.5em;
    line-height: 0.9em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.hero-wrapper .heading{
    line-height: 4em!important;
}

.hero-wrapper .para1 p{
    font-size: 0.9em;
    max-width: 500px;
    margin-top: 100px;
    margin-left: 20%;
    line-height: 1.6em;
}

#registered{
    font-weight: 100;
    margin-left: -50px;
    vertical-align: 20px;
}

#menu-bar{
    width: 20%;
    display: flex; 
    color: white;
    justify-content: space-between;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.menu-links{
    text-decoration: none;
    color: rgb(177, 152, 152);
    font-size: 1.1em;
    letter-spacing: 0.05em;
    font-weight: bold;
}

.menu-links:hover{
    color: white;
}

.para2{
    width: 100%;  
    color: white; 
    font-size: 4em; 
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    justify-content: center;
    line-height: 1.2em;
    position: inherit;
    float: left;
}

.para3{
    display: flex; 
    align-items: center; 
    /* position: absolute;  */
    right: 3em; 
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    line-height: 1.6em;
    border-bottom: solid 2px white;
    padding-bottom: 50px;
    /* transform: translate3d(0,-100%,0);  */
    color: white; 
}

.para3 p{
    text-align: start;
    font-size: 1.2em;
    line-height: 1.8em;
}

.my-button {
    /* background-color: #FFF; */
    color: white;
    display: flex;
    justify-content: center;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    align-items: center;
    transition: 0.2s;
}

.my-button:hover{
    background-color: white;
    color: black;
}

.my-button:hover path{
    stroke: black;
}

.marquee{
    overflow: hidden;
    white-space: nowrap;
    padding: 30px;
}

.marquee-slide{
    display: inline-block;
    animation: 5s slide infinite linear;
    letter-spacing: 0.1em;
}

.text-content{
    position: inherit;
}

.para4-b{
    left: 0;
    right:0;
    margin: 0 auto;
    color:white;
    font-size: 1.7em;
    width: 100%;
    line-height: 2.5em;
    margin-top: 100px;
    float: left;

}

.para4-b h1{
    width: 70%; 
    max-width: 800px;
    margin: 0 auto;
}

.main-logo{
    width: 7.5em;
    margin-left: -30px;
    margin-bottom: -0.4em;
}

.para1{
    width: 100%;
    display: block;
    margin: 0 auto;
    float: left;
    clear: both;
}

.para1 p{
    margin: 0 auto;
    margin-top: 60px;
    width: 50%;
    max-width: 600px;
}

.marquee{
    width: 100%;
    color:white;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250vh;
    float: left;
}

.services-wrapper{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.services-main-wrap{
    width:100%; 
    display: flex;
    color:white;
    font-size: 1.2em;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}

.we-keep-looking{
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    float: left;
    margin-top: 200px;
}

.para2.two p{
    width: 70%;
    max-width: 900px;
    margin-top: 450vh;
}

.twox-wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recent-works-head{
    width: 100%;
    text-align:center;
    color:white;
    font-size: 10.3em;
    margin-top: 200px;
    float: left;
}

.awwards-one{
    display: flex;
    flex-direction:column;
    width: 50%;
    float: right;
    color:white;
    clear: both;
    font-size: 1.3em;
    margin-top: 150px;
}

.awwards-two{
    display: flex;
    flex-direction:column;
    width: 50%;
    float: right;
    color:white;
    font-size: 1.3em;
    clear: both;
    margin-top: 100px;
}


.awwards-three{
    display: flex;
    flex-direction:column;
    width: 50%;
    float: right;
    color:white;
    font-size: 1.3em;
    clear: both;
    margin-top: 100px;
}

.main-wrapper{
    position: relative!important;
}

.hero-wrapper{
    width: 100%;
    margin: 0 auto;
    display: block;
    float: left;
    min-height: 100vh;
}

.services-list{
    font-size: 4em;
    line-height: 1.2em;
}

.para2.three{
    position: inherit;
    top: inherit;
    font-size: 3.5em;
    margin-top: 200px;
}

.para2.three p{
    width: 80%;
    margin: 0 auto;
}


.work{
    position: initial!important;
    top:inherit!important;
    width: 100%!important;
    float: left;
}

.work img{
    width: 40%!important;
    min-width: 400px;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}

.marquee.awards{
    width: 100%;
    color: white;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.marquee.contact{
    width: 100%;
    color:white;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.footer-wrap{
    width: 100%;
    display: flex;
    gap: 2vw;
    color: white;
    font-size: 0.8em;
    line-height: 2em;
    margin-top: 300px;
    float: left;
}

.footer-wrap h1{
    font-size: 1.2em;
}

.work-text-wrap{
    height: 20%;
    width: 40%;
    color: #fff;
    padding: 0.2vw;
    margin: 0 auto;
}

.work-text-wrap h3{
    font-size: 2.5vw;
    display: block;
}

.work-text-wrap h5{
    font-size: 1vw;
}

.work-year{
    margin-left: 80%;
}



















/* =============PHONE STYLE============== */
/* =============PHONE STYLE============== */
/* =============PHONE STYLE============== */
/* =============PHONE STYLE============== */



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2), @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2), @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2), @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3), @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3), @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 667px), @media only screen 
  and (min-device-width : 414px) 
  and (max-device-width : 736px){


    .main-logo{
        width: 60%;
        margin-left: -10px;
    }

    
    .heading-text{
        font-size: 2.5em;
    }

    .heading{
        line-height: 3em;
        top: 20vh;
        left: 10vw;
    }

    #menu-bar{
        left: 0;
        right: 0!important;
        margin: 0 auto;
        width: 100%!important;
        padding: 0 10vw;
        box-sizing: border-box;
    }

    #registered{
        margin-left: -20px;
        vertical-align: 0px;
    }

    .para1{
        left: 10vw!important;
        width: 80%!important;
        font-size: 1em!important;
    }

    .services-main-wrap{
        top: 1050vh!important;
    }

    .services-wrapper{
        width: 80%;
    }

    .services-list{
        font-size: 2.5em!important;
    }
    
    .para2.three{
        top: 980vh;
         font-size: 2em!important;
    }

    .we-keep-looking{
        top: 1080vh;
        display: flex; 
        flex-direction: column;
    }

    .para2.two{
        top: 700vh;
        font-size: 2em;
    }

    .twox-wrap{
        flex-direction: column;
        top: 800vh;
    }

    .recent-works-head{
        top: 1170vh;
        font-size: 3em;
    }

    .work{
        width:80%!important;
        left:0!important;
        right:0!important;
        margin: 0 auto!important;
    }

    .work h3{
        font-size: 1em!important;
        margin-top: 50px;
        bottom: inherit!important;
    }

    .work h5{
        font-size: 1em!important;
        margin-top: 80px;
        font-style: italic;
        bottom: inherit!important;
    }

    .para4-b h1{
        font-size: 1em!important;
        line-height: 1.5em!important;
    }

    .awwards-one{
        top: 1650vh;
        width: 80%;
        right: 0;
        left:0;
        margin: 0 auto;
    }

    .awwards-two{
        top: 1700vh;
        width: 80%;
        right: 0;
        left:0;
        margin: 0 auto;
    }

    .awwards-three{
        top: 1750vh;
        width: 80%;
        right: 0;
        left:0;
        margin: 0 auto;
    }



















}/* =============PHONE STYLE END============== */
/* =============PHONE STYLE END============== */
/* =============PHONE STYLE END============== */
/* =============PHONE STYLE END============== */
/* =============PHONE STYLE END============== */
