/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
    font-family: HelveticaNeueCyrMedium;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.ttf')  format('truetype');
}

@font-face {
    font-family: HelveticaNeueCyrLight;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrLight/HelveticaNeueCyrLight.ttf')  format('truetype');
}

@font-face {
    font-family: HelveticaNeueCyrBold;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf')  format('truetype');
}

*{
    font-family: 'HelveticaNeueCyrLight';
}

/* canvas {
    overflow: scroll;
    pointer-events: none;
} */

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.heading{
    position: absolute;
    top: 4vh;
    left: 3vw;
    transform: translate3d(0,-100%,0);
    color: white;
}

.heading-text{
    margin: 0;
    font-size: 6em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

#registered{
    font-weight: 100;
}

#menu-bar{
    top: 8vh;
    position: absolute; 
    display: flex; 
    color: white;
    right: 4em; 
    width: 20vw; 
    justify-content: space-between;
}

.para2{
    width: 50%; 
    position: absolute; 
    transform: translate3d(0,-100%,0); 
    color: white; 
    font-size: 4em; 
    left: 3em;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.para3{
    display: flex; 
    align-items: center; 
    /* position: absolute;  */
    right: 3em; 
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    line-height: 1.6em;
    border-bottom: solid 2px white;
    padding-bottom: 50px;
    /* transform: translate3d(0,-100%,0);  */
    color: white; 
}

.para3 p{
    text-align: start;
    font-size: 1.3em;
}

.my-button {
    /* background-color: #FFF; */
    color: white;
    display: flex;
    justify-content: center;
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
    border: 2px solid #ffffff;
    cursor: pointer;
    align-items: center;
    transition: 0.2s;
}

.my-button:hover{
    background-color: white;
    color: black;
}

.my-button:hover path{
    stroke: black;
}

.marquee{
    overflow: hidden;
    white-space: nowrap;
    padding: 30px;
}

.marquee-slide{
    display: inline-block;
    animation: 5s slide infinite linear;
}

.text-content{
    position: inherit;
}