/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
    font-family: HelveticaNeueCyrMedium;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrMedium/HelveticaNeueCyrMedium.ttf')  format('truetype');
}

@font-face {
    font-family: HelveticaNeueCyrLight;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrLight/HelveticaNeueCyrLight.ttf')  format('truetype');
}

@font-face {
    font-family: HelveticaNeueCyrBold;
    src: url('./assets/fonts/HelveticaNeueCyr/HelveticaNeueCyrBold/HelveticaNeueCyrBold.ttf')  format('truetype');
}

*{
    font-family: 'HelveticaNeueCyrLight';
}

canvas {
    /* overflow: scroll; */
    pointer-events: none;
}

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.marquee{
    overflow: hidden;
    white-space: nowrap;
    padding: 30px;
}

.marquee-slide{
    display: inline-block;
    animation: 5s slide infinite linear;
}